@use "../1_Composition/breakpoints" as breakpoints;

.copyrights {
  color: var(--clr-primary-600);
  font-size: var(--fs-300);
  font-weight: var(--fw-500);
  padding-inline: var(--space-200);
}

@media screen and (max-width: breakpoints.$mobile) {
  .copyrights {
    text-align: center;
  }
}
