@use "../1_Composition/breakpoints" as breakpoints;

.site-header {
  --_flex-direction: row;

  padding-inline-start: var(--space-700);

  & .header-logo {
    width: calc(2 * var(--space-900));
  }

  & a {
    padding: var(--space-200) var(--space-300);
    color: var(--clr-neutral-100);
    font-weight: var(--fw-500);
    text-decoration: none;

    &:hover,
    &:focus {
      border-radius: var(--space-300);
      color: var(--clr-neutral-900);
      background-color: var(--clr-primary-600);
      text-decoration: underline;
    }

    &.active {
      border-radius: var(--space-300);
      color: var(--clr-neutral-900);
      background-color: var(--clr-primary-600);
      text-decoration: underline;
    }
  }
  & .menu-icon {
    display: none;
  }
}

@media screen and (max-width: breakpoints.$header-mobile) {
  .site-header {
    --_flex-align: baseline;

    padding-inline-start: 0;

    .header-logo {
      width: var(--space-900);
    }

    .main-navbar {
      --_flex-direction: column;
      --_flex-align: stretch;
    }

    & a {
      display: none;
    }

    & .menu-icon {
      display: block;

      order: -1;
      align-self: flex-end;

      color: var(--clr-primary-600);
      font-size: var(--fs-500);
    }

    & .expanded-main-navbar {
      & a {
        display: block;
      }
    }
  }
}
