@use "../1_Composition/breakpoints" as breakpoints;

.site-header {
  --_flex-direction: row;

  margin-inline-start: var(--space-700);

  & .header-logo {
    width: calc(2 * var(--space-900));
  }

  & a {
    padding: var(--space-200) var(--space-300);
    color: var(--clr-neutral-100);
    font-weight: var(--fw-500);
    text-decoration: none;

    &:hover,
    &:focus {
      border-radius: var(--space-300);
      color: var(--clr-neutral-900);
      background-color: var(--clr-primary-600);
      text-decoration: underline;
    }

    &.active {
      border-radius: var(--space-300);
      color: var(--clr-neutral-900);
      background-color: var(--clr-primary-600);
      text-decoration: underline;
    }
  }
  & .icon-bars {
    display: none;
  }
}

@media screen and (max-width: breakpoints.$header-menu-mobile) {
  .site-header {
    --_flex-align: flex-start;

    margin-inline: var(--space-700);

    .main-navbar {
      --_flex-direction: column;
      --_flex-align: stretch;
    }

    & a {
      display: none;
    }

    & .icon-bars {
      display: block;
      // position: relative;

      order: -1;
      align-self: flex-end;

      color: var(--clr-primary-600);
      font-size: var(--fs-500);

      // &::before {
      //   position: absolute;
      //   right: 0;
      // }
    }

    & .expanded {
      & a {
        display: block;
      }
    }
  }
}

@media screen and (max-width: breakpoints.$mobile) {
  .site-header {
    margin-inline: 0;

    .header-logo {
      width: var(--space-900);
    }
  }
}
