@use "../1_Composition/breakpoints" as breakpoints;

.signup {
  animation-name: modalopen;
  // animation-duration: 0.5s;

  &::backdrop {
    background-color: var(--clr-background);
    opacity: 0.4;
  }

  border: none;
  border-radius: var(--space-200);
  padding-block: var(--space-400);
  padding-inline: var(--space-600);
  max-width: 500px;

  color: var(--clr-neutral-900);
  background-color: var(--clr-neutral-210);

  font-size: var(--fs-300);

  & .icon-xmark {
    display: block;
    text-align: end;
    font-size: var(--fs-400);
  }

  & form {
    --_flex-gap: var(--space-300);
    --_flex-direction: column;
    --_flex-align: flex-start;

    & .formData {
      display: flex;
      flex-direction: column;
      // align-items: stretch;
      width: 100%;

      & > :first-child {
        margin-block-end: var(--_flex-gap);
      }

      input {
        border: 0.8px solid var(--clr-neutral-740);
        border-radius: var(--space-200);
        padding: var(--space-200);
        width: 100%;
        font-size: var(--fs-400);

        &:focus {
          outline: var(--space-100) solid var(--clr-background);
        }
      }

      &[data-error]::after {
        content: attr(data-error);
        font-size: var(--fs-100);
        color: var(--clr-error);
        display: block;
        margin-top: 7px;
        margin-bottom: 7px;
        line-height: 1.1;
        opacity: 0;
        transition: opacity 0.3s;
      }

      &[data-error-visible="true"]::after {
        opacity: 0.87;
      }

      &[data-error-visible="true"] input {
        border: 2px solid var(--clr-error);
      }
    }

    & .cities {
      --_flex-direction: row;
      flex-wrap: wrap;

      row-gap: var(--space-100);
    }

    & .conditions {
      row-gap: var(--space-100);
    }

    input[type="checkbox"],
    input[type="radio"] {
      display: none;
    }

    & label[class^="icon-"] {
      display: flex;
      align-items: center;
      font-size: var(--fs-200);
    }

    & .btn-submit {
      background: var(--clr-primary-600);
      display: block;
      margin: 0 auto;
      border-radius: 7px;
      font-size: 1rem;
      padding: 12px 82px;
      color: var(--clr-neutral-900);
      cursor: pointer;
      border: 0;
    }
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: breakpoints.$modal-mobile) {
  .signup {
    &::backdrop {
      opacity: 0;
    }

    max-width: 100vw;
    width: 100vw;
    margin-top: var(--space-800);
  }
}
