@use "../1_Composition/breakpoints" as breakpoints;

.site {
  --_flex-gap: var(--space-800);
  --_flex-direction: column;
  --_max-wrapper-width: var(--max-width);
  --_inline-wrapper-padding: 0;

  padding-block: var(--space-600);
}

@media screen and (max-width: breakpoints.$mobile) {
  .site {
    --_flex-gap: var(--space-500);
    padding: var(--space-500);
  }
}
