:root {
  --max-width: 1240px;
  --p-max-width: 65ch;
  --fs-100: clamp(0.64rem, 0.6549rem + -0.0192vi, 0.651rem);
  --fs-200: clamp(0.7813rem, 0.7747rem + 0.0326vi, 0.8rem);
  --fs-300: clamp(0.9375rem, 0.9158rem + 0.1087vi, 1rem);
  --fs-400: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
  --fs-500: clamp(1.35rem, 1.2761rem + 0.3696vi, 1.5625rem);
  --fs-600: clamp(1.62rem, 1.5041rem + 0.5793vi, 1.9531rem);
  --fs-700: clamp(1.944rem, 1.771rem + 0.8651vi, 2.4414rem);
  --fs-800: clamp(2.3328rem, 2.0827rem + 1.2504vi, 3.0518rem);
  --fs-900: clamp(2.7994rem, 2.4462rem + 1.7658vi, 3.8147rem);
  --fs-1000: clamp(3.3592rem, 2.8691rem + 2.4507vi, 4.7684rem);
  --fs-1100: clamp(4.0311rem, 3.36rem + 3.3555vi, 5.9605rem);
  --fw-100: 100;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;
  --space-100: clamp(0.3125rem, 0.3125rem + 0vi, 0.3125rem);
  --space-200: clamp(0.5625rem, 0.5408rem + 0.1087vi, 0.625rem);
  --space-300: clamp(0.875rem, 0.8533rem + 0.1087vi, 0.9375rem);
  --space-400: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
  --space-500: clamp(1.6875rem, 1.6223rem + 0.3261vi, 1.875rem);
  --space-600: clamp(2.25rem, 2.163rem + 0.4348vi, 2.5rem);
  --space-700: clamp(3.375rem, 3.2446rem + 0.6522vi, 3.75rem);
  --space-800: clamp(4.5rem, 4.3261rem + 0.8696vi, 5rem);
  --space-900: clamp(6.75rem, 6.4891rem + 1.3043vi, 7.5rem);
  --space-100-200: clamp(0.3125rem, 0.2038rem + 0.5435vi, 0.625rem);
  --space-200-300: clamp(0.5625rem, 0.4321rem + 0.6522vi, 0.9375rem);
  --space-300-400: clamp(0.875rem, 0.7446rem + 0.6522vi, 1.25rem);
  --space-400-500: clamp(1.125rem, 0.8641rem + 1.3043vi, 1.875rem);
  --space-500-600: clamp(1.6875rem, 1.4049rem + 1.413vi, 2.5rem);
  --space-600-700: clamp(2.25rem, 1.7283rem + 2.6087vi, 3.75rem);
  --space-700-800: clamp(3.375rem, 2.8098rem + 2.8261vi, 5rem);
  --space-800-900: clamp(4.5rem, 3.4565rem + 5.2174vi, 7.5rem);
}

:root {
  --ff-sans: "DM Sans", Arial, Helvetica, sans-serif;
}

:root {
  --clr-neutral-900: #ffffff;
  --clr-neutral-740: #cccccc;
  --clr-neutral-715: #c4c4c4;
  --clr-neutral-210: #232323;
  --clr-neutral-100: #000000;
  --clr-primary-600: #fe142f;
  --clr-complementary-200: #14fee3;
  --clr-select: #279e7a;
  --clr-error: #ff4e60;
  --clr-analogous-a-400: #fe14a4;
  --clr-analogous-b-900: #fe6e14;
  --clr-triadic-a-500: #fee314;
  --clr-triadic-b-400: #2ffe14;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  hanging-punctuation: first last;
  scroll-behavior: smooth;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block: 0;
  margin-inline: 0;
}

/* Set core body defaults */
body {
  max-width: var(--max-width);
  min-height: 100svh;
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* improve readability with max-width on paragraphs and lists */
/* prevent orphans in supported browsers */
p,
li {
  max-width: var(--p-max-width);
  text-wrap: pretty;
}

/* Remove default list styles on lists that have classes on them without raising specificity */
ul:where(ul[class]),
ol:where(ol[class]) {
  margin-block: 0;
  padding-inline-start: 0;
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
  font-style: italic;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: calc(10 * var(--space-400));
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: var(--space-600);
}

/************
 * Flow
 ************/
.flow > * + * {
  margin-block-start: var(--_flow-gap, var(--space-400));
}

.flow-padding > * {
  padding-block: var(--_flow-gap, var(--space-400));
}

/************
 * Flex
 ************/
[class^=flex-],
[class*=" flex-"] {
  display: flex;
  gap: var(--_flex-gap, var(--space-400));
}

.flex-wrapper {
  flex-direction: var(--_flex-direction, row);
  width: min(var(--_max-wrapper-width, var(--max-width)), 100% - var(--_inline-wrapper-padding, var(--space-500)) * 2);
  margin-inline: auto;
}

.flex-space-between {
  --_flex-gap: normal;
  flex-direction: var(--_flex-direction, row);
  align-items: var(--_flex-align, center);
  justify-content: space-between;
}

.site {
  --_flex-gap: var(--space-800);
  --_flex-direction: column;
  --_max-wrapper-width: var(--max-width);
  --_inline-wrapper-padding: 0;
  padding-block: var(--space-600);
}

@media screen and (max-width: 800px) {
  .site {
    --_flex-gap: var(--space-500);
    padding: var(--space-500);
  }
}
.site-header {
  --_flex-direction: row;
  margin-inline-start: var(--space-700);
}
.site-header .header-logo {
  width: calc(2 * var(--space-900));
}
.site-header a {
  padding: var(--space-200) var(--space-300);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-500);
  text-decoration: none;
}
.site-header a:hover, .site-header a:focus {
  border-radius: var(--space-300);
  color: var(--clr-neutral-900);
  background-color: var(--clr-primary-600);
  text-decoration: underline;
}
.site-header a.active {
  border-radius: var(--space-300);
  color: var(--clr-neutral-900);
  background-color: var(--clr-primary-600);
  text-decoration: underline;
}
.site-header .menu-icon {
  display: none;
}

@media screen and (max-width: 800px) {
  .site-header {
    --_flex-align: baseline;
    margin-inline-start: 0;
  }
  .site-header .header-logo {
    width: var(--space-900);
  }
  .site-header .main-navbar {
    --_flex-direction: column;
    --_flex-align: stretch;
  }
  .site-header a {
    display: none;
  }
  .site-header .menu-icon {
    display: block;
    order: -1;
    align-self: flex-end;
    color: var(--clr-primary-600);
    font-size: var(--fs-500);
  }
  .site-header .expanded-main-navbar a {
    display: block;
  }
}
.hero {
  margin-inline: var(--space-700);
  display: grid;
  grid-template-columns: [hero-headline-start hero-text-start btn-signup-start] auto [hero-text-end btn-signup-end hero-img-start] auto [hero-headline-end] auto [hero-img-end];
  grid-template-rows: [hero-headline-start hero-img-start] auto [hero-headline-end hero-text-start] auto [hero-text-end btn-signup-start] auto [btn-signup-end hero-img-end];
  background-color: var(--clr-neutral-210);
  border-radius: var(--space-200);
  color: var(--clr-neutral-900);
}
.hero .hero-headline {
  grid-area: hero-headline;
  z-index: 1;
  padding-block-start: var(--space-700);
  padding-inline-start: var(--space-700);
  font-size: var(--fs-1100);
  font-weight: var(--fw-500);
}
.hero .hero-text {
  grid-area: hero-text;
  padding-block: var(--space-700);
  padding-inline-start: var(--space-700);
  font-size: var(--fs-500);
}
.hero .hero-img {
  grid-area: hero-img;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  overflow: hidden;
}
.hero .hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
.hero .btn-signup {
  grid-area: btn-signup;
  width: fit-content;
  margin-block-end: var(--space-700);
  margin-inline-start: var(--space-700);
  border-radius: var(--space-300);
  border: none;
  padding: var(--space-200) var(--space-500);
  color: var(--clr-neutral-900);
  background-color: var(--clr-primary-600);
  font-size: var(--fs-500);
  font-weight: var(--fw-500);
  cursor: pointer;
}
.hero .btn-signup:hover, .hero .btn-signup:focus {
  background: var(--clr-select);
  color: var(--clr-neutral-100);
}

@media screen and (max-width: 800px) {
  .hero {
    margin-inline: var(--space-700);
    display: flex;
    flex-direction: column;
    gap: var(--space-500);
    color: var(--clr-neutral-100);
    background-color: var(--clr-neutral-900);
  }
  .hero .hero-headline {
    padding-block-start: 0;
    padding-inline-start: 0;
    font-size: var(--fs-800);
    font-weight: var(--fw-500);
  }
  .hero .hero-text {
    padding-block: 0;
    padding-inline-start: 0;
    font-size: var(--fs-500);
  }
  .hero .hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--space-200);
  }
  .hero .btn-signup {
    margin-inline: auto;
    margin-block: 0;
    border-radius: var(--space-300);
    border: none;
    padding: var(--space-200) var(--space-500);
    color: var(--clr-neutral-900);
    background-color: var(--clr-primary-600);
    font-size: var(--fs-300);
    font-weight: var(--fw-500);
    cursor: pointer;
  }
  .hero .btn-signup:hover, .hero .btn-signup:focus {
    background: var(--clr-select);
    color: var(--clr-neutral-100);
  }
}
.copyrights {
  color: var(--clr-primary-600);
  font-size: var(--fs-300);
  font-weight: var(--fw-500);
}

@media screen and (max-width: 800px) {
  .copyrights {
    text-align: center;
  }
}
.bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.content {
  margin: 5% auto;
  width: 100%;
  max-width: 500px;
  animation-name: modalopen;
  animation-duration: 0.8s;
  background: var(--clr-neutral-210);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: var(--clr-neutral-900);
  padding-top: 10px;
}

.modal-body {
  padding: 15px 8%;
  margin: 15px auto;
}

label,
.text-label {
  font-family: var(--ff-sans);
  font-size: var(--fs-300);
  font-weight: normal;
  display: inline-block;
  margin-bottom: 11px;
}

input {
  padding: 8px;
  border: 0.8px solid var(--clr-neutral-740);
  outline: none;
}

.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 48px;
}

.formData[data-error]::after {
  content: attr(data-error);
  font-size: var(--fs-100);
  color: var(--clr-error);
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}

.formData[data-error-visible=true]::after {
  opacity: 0.87;
}

.formData[data-error-visible=true] .text-control {
  border: 2px solid var(--clr-error);
}

/* 
  input[data-error]::after {
      content: attr(data-error);
      font-size: 0.4em;
      color: red;
  } */
.checkbox-label,
.checkbox2-label {
  position: relative;
  margin-left: 36px;
  font-size: 12px;
  font-weight: var(--fw-400);
}

.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid var(--clr-select);
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: -30px;
  top: -1px;
  transition: 0.3s;
}

.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: var(--clr-select);
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}

.checkbox-input {
  display: none;
}

.checkbox-input:checked + .checkbox-label .checkbox-icon::after,
.checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
  opacity: 1;
}

.checkbox-input:checked + .checkbox2-label .checkbox-icon {
  background: var(--clr-select);
}

.checkbox2-label .checkbox-icon {
  border-radius: 4px;
  border: 0;
  background: var(--clr-neutral-715);
}

.checkbox2-label .checkbox-icon::after {
  width: 7px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: var(--clr-neutral-900);
  border-left-color: var(--clr-neutral-900);
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: var(--clr-neutral-900);
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.btn-submit {
  background: var(--clr-primary-600);
  display: block;
  margin: 0 auto;
  border-radius: 7px;
  font-size: 1rem;
  padding: 12px 82px;
  color: var(--clr-neutral-900);
  cursor: pointer;
  border: 0;
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=modal.css.map */
