:root {
  --max-width: 1240px;
  --p-max-width: 65ch;

  --fs-100: clamp(0.64rem, 0.6549rem + -0.0192vi, 0.651rem);
  --fs-200: clamp(0.7813rem, 0.7747rem + 0.0326vi, 0.8rem);
  --fs-300: clamp(0.9375rem, 0.9158rem + 0.1087vi, 1rem);
  --fs-400: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
  --fs-500: clamp(1.35rem, 1.2761rem + 0.3696vi, 1.5625rem);
  --fs-600: clamp(1.62rem, 1.5041rem + 0.5793vi, 1.9531rem);
  --fs-700: clamp(1.944rem, 1.771rem + 0.8651vi, 2.4414rem);
  --fs-800: clamp(2.3328rem, 2.0827rem + 1.2504vi, 3.0518rem);
  --fs-900: clamp(2.7994rem, 2.4462rem + 1.7658vi, 3.8147rem);

  // --fs-100 10px - 10.5px
  // --fs-200 12.5px - 13px
  // --fs-300 15px - 16px
  // --fs-400 18px - 20px
  // --fs-500 21.6px - 25px
  // --fs-600 25.92px - 31.25px
  // --fs-700 31.1px - 39.06px
  // --fs-800 37.3px - 48.78px
  // --fs-900 44.79px - 61.03px

  --fw-100: 100;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  --space-100: clamp(0.3125rem, 0.3125rem + 0vi, 0.3125rem);
  --space-200: clamp(0.5625rem, 0.5408rem + 0.1087vi, 0.625rem);
  --space-300: clamp(0.875rem, 0.8533rem + 0.1087vi, 0.9375rem);
  --space-400: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
  --space-500: clamp(1.6875rem, 1.6223rem + 0.3261vi, 1.875rem);
  --space-600: clamp(2.25rem, 2.163rem + 0.4348vi, 2.5rem);
  --space-700: clamp(3.375rem, 3.2446rem + 0.6522vi, 3.75rem);
  --space-800: clamp(4.5rem, 4.3261rem + 0.8696vi, 5rem);
  --space-900: clamp(6.75rem, 6.4891rem + 1.3043vi, 7.5rem);

  // --space-100 5px - 5px
  // --space-200 9px - 10px
  // --space-300 14px - 15px
  // --space-400 18px - 20px
  // --space-500 27px - 30px
  // --space-600 36px - 40px
  // --space-700 54px - 60px
  // --space-800 72px - 80px
  // --space-900 108px - 120px

  --space-100-200: clamp(0.3125rem, 0.2038rem + 0.5435vi, 0.625rem);
  --space-200-300: clamp(0.5625rem, 0.4321rem + 0.6522vi, 0.9375rem);
  --space-300-400: clamp(0.875rem, 0.7446rem + 0.6522vi, 1.25rem);
  --space-400-500: clamp(1.125rem, 0.8641rem + 1.3043vi, 1.875rem);
  --space-500-600: clamp(1.6875rem, 1.4049rem + 1.413vi, 2.5rem);
  --space-600-700: clamp(2.25rem, 1.7283rem + 2.6087vi, 3.75rem);
  --space-700-800: clamp(3.375rem, 2.8098rem + 2.8261vi, 5rem);
  --space-800-900: clamp(4.5rem, 3.4565rem + 5.2174vi, 7.5rem);
}

// --space-100-200 5px - 10px
// --space-200-300 9px - 15px
// --space-300-400 14px - 20px
// --space-400-500 18px - 30px
// --space-500-600 27px - 40px
// --space-600-700 36px - 60px
// --space-700-800 54px - 80px
// --space-800-900 72px - 120px
